.type-events {
  .first-metadata-wrapper {
    opacity: .6;
    word-wrap: break-word;

    span {
      padding-right: $space;
      position: relative;
      word-wrap: break-word;

      &::after {
        content: "|";
        clear: both;
        position: absolute;
        right: $space/2;
      }

      &:last-child::after {
        content: ""
      }
    }
  }

  .second-metadata-wrapper {
    opacity: .6;
    word-wrap: break-word;

    span {
      word-wrap: break-word;
    }

    &>span:first-child {
      margin-right: $space/2;

      &::after {
        content: ":";
        clear: both;
      }
    }

    &>span {
      &::after {
        content: ",";
        clear: both;
      }
    }

    &>span:last-child {
      &::after {
        content: "";
      }
    }
  }

  .time-location {
    @include font-size($larger);

    p {
      &>span:first-child {
        // opacity: .6;
        margin-right: $space/2;
      }
    }

    .current-event {
      opacity: 0;
    }

    .overdue {
      opacity: .6;
    }
  }

  .basic-info {
    div:last-child {
      margin-bottom: $space;
    }
  }
}