<section id="events">
    <div class="container">
      <div class="row">
        <ul>
          {% for event in events %}
            {% capture nowunix %}{{ 'now' | date: '%s'}}{% endcapture %}
            {% capture eventtime %}{{ event.event_date | date: '%s'}}{% endcapture %}
            {% if eventtime > nowunix %}
              <li future-date="{{ event.event_date | date: '%Y%m%d' }}">
                <h2>
                  <div class="event-title">
                    <img src="{{ event.icon }}" alt="{{ event.categories }}">
                    <a href="{{ event.url }}">{{ event.title }}</a>
                  </div>
                  <span class="event-date">{{ event.event_date | date: "%m-%d" }}</span>
                </h2>
              </li>
            {% else %}
              <li class="overdue">
                <h2>
                  <div class="event-title">
                    <img src="{{ event.icon }}" alt="{{ event.categories }}">
                    <a href="{{ event.url }}">{{ event.title }}</a>
                  </div>
                  <span class="event-date">{{ event.event_date | date: "%m-%d" }}</span>
                </h2>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>