<form id="application" class="ajax" action="https://getform.io/f/ec9f06c7-e20f-4c55-95f1-3ef084b72408" method="POST">
  <div class="body">
    <section class="main">
      <div class="field floating required full-width">
        <input id="demo-p-name" name="name" type="text" placeholder="{{ t.demo.form.fields.name }}" required />
        <label for="demo-p-name">{{ t.demo.form.fields.name }}</label>
      </div>
      <div class="field">
        <ul class="padded grid-2">
          <li>
            <label>
              <input type="radio" id="join" value="yes" name="join" required />
              <span>{{ t.demo.form.fields.join }}<span>
            </label>
          </li>
          <li>
            <label>
              <input type="radio" id="not-join" value="no" name="join" required />
              <span>{{ t.demo.form.fields.not_join }}<span>
            </label>
          </li>
      </div>
    </section>
    <footer class="main margin-top-2x">
      <input class="button full-width" type="submit" value="{{ t.demo.form.submit }}" />
    </footer>
  </div>
</form>