<nav class="menu">
    <section class="links">
      <a class="link-home" href="{{ site.url }}{{ site.baseurl }}{{ t_url_prefix }}/">
        {% if lang == lang_default %}
          {% if page.categories %}
            {% for category in page.categories %}
              {% if category == "movie" %}
                {{ site.data.logos.movie }}
              {% elsif category == "sport" %}
                {{ site.data.logos.sport }}
              {% else %}
                {{ site.data.logos.logo }}
              {% endif %}
            {% endfor %}
          {% else %}
            {{ site.data.logos.logo }}
          {% endif %}
        {% else %}
          {% if page.categories[1] %}
            {% for category in page.categories[1] %}
              {% if category == "movie" %}
                {{ site.data.logos.movie_en }}
              {% elsif category == "sport" %}
                {{ site.data.logos.sport_en }}
              {% else %}
                {{ site.data.logos.logo_en }}
              {% endif %}
            {% endfor %}
          {% else %}
            {{ site.data.logos.logo_en }}
          {% endif %}
        {% endif %}
      </a>
      <div class="link-menus">
        {% for item in site.data.menu %}
          {% if item.url %}<a href="{{ item.url }}" class="link-{{ item.id }}">{{ t.menu[item.id] }}</a>
          {% else %}<a href="{{ site.url }}{{ site.baseurl }}{{ t_url_prefix }}{{ item.path }}" class="link-{{ item.id }}">{{ t.menu[item.id] }}</a>{% endif %}
        {% endfor %}
        {% include lang.html %}
      </div>
    </section>
</nav>