---
layout: default
---

{% include utils/i18n.liquid %}

<section id="hero" {% if page.image and page.video %}style=""{% else %}style="background-image: url('{{ page.image }}')"{% endif %}>
  {% if page.video %}
    <video poster="{{ page.image }}" id="bgvid" playsinline autoplay muted loop>
      <source src="{{ page.video_webm }}" type="video/webm">
      <source src="{{ page.video }}" type="video/mp4">
    </video>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="left">
        <div class="main-info">
          <h1>{{ page.title }}</h1>
          <div class="basic-info">
            <div class="first-metadata-wrapper">
              {% for tag in page.tags %}
                <span>{{ tag }}</span>
              {% endfor %}
            </div>
            {% if page.casts and page.casts != "" %}
              <div class="second-metadata-wrapper">
                <span>{{ t.event.casts }}</span>
                {% for cast in page.casts %}
                  <span>{{ cast }}</span>
                {% endfor %}
              </div>
            {% else %}
            {% endif %}
          </div>
          {{ content }}
        </div>
        <div class="time-location">
          <p class="margin-bottom-half">
            <span>{{ t.event.time }}</span>
            <span>{{ page.event_date | date: "%Y-%m-%d" }} {{ page.event_time }}</span>
            {% capture nowunix %}{{ 'now' | date: '%s'}}{% endcapture %}
            {% capture eventtime %}{{ page.event_date | date: '%s'}}{% endcapture %}
            {% if eventtime > nowunix %}
              <span future-date="{{ page.event_date | date: '%Y%m%d' }}" class="current-event">已过期</span>
            {% else %}
              <span class="overdue">已过期</span>
            {% endif %}
          </p>
          <p>
            <span>{{ t.event.location }}</span>
            <span>{{ page.event_location }}</span>
          </p>
        </div>
        {% if page.sign_up == true %}
          {% if page.sign_up_type == "link" %}
            <button id="link" class="button" onclick="window.location.href='{{ page.link }}';"><span>{{ t.event.sign_up }}</span></button>
          {% elsif page.sign_up_type == "qrcode" %}
            <button id="popup" class="button"><span>{{ t.event.sign_up }}</span></button>
          {% elsif page.sign_up_type == "form" %}
            <button id="popup" class="button"><span>{{ t.event.sign_up }}</span></button>
          {% else %}
          {% endif %}
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<div id="pop-up" class="pop-up">
  <div class="content">
    <div class="container">
      <span class="close">{{ t.event.close }}</span>
      {% if page.sign_up_type == "qrcode" %}
        <div class="title">
          <h1>{{ t.event.scan_QRCode }}</h1>
        </div>
        <div class="subscribe">
          <img src="{{ page.qrcode_image }}" alt="qrcode">
        </div>
      {% elsif page.sign_up_type == "form" %}
        <div class="title">
          <h1>{{ t.event.signup_Form }}</h1>
        </div>
        <div class="subscribe">
          {% include form.html %}
        </div>
      {% else %}
      {% endif %}
    </div>
  </div>
</div>