---
layout: default
---

{% include utils/i18n.liquid %}

<section id="hero" style="background-image: url('{{ site.url }}{{ site.baseurl }}{{ page.image }}')">
  <div class="container">
    <div class="row">
      <div class="left">
        <div class="main-info">
          <h1>{{ page.title }}</h1>
          <div class="basic-info">
            <div class="first-metadata-wrapper">
              {% for tag in page.tags %}<span>{{ tag }}</span>{% endfor %}
            </div>
            {% if page.casts and page.casts != "" %}
              <div class="second-metadata-wrapper">
                <span>{{ t.event.casts }}</span>
                {% for cast in page.casts %}
                  <span>{{ cast }}</span>
                {% endfor %}
              </div>
            {% else %}
            {% endif %}
          </div>
          {{ content }}
        </div>
        <div class="time-location">
          <p class="margin-bottom-half">
            <span>{{ t.event.time }}</span>
            <span>{{ page.event_date | date: "%Y-%m-%d" }} {{ page.event_time }}</span>
          </p>
          <p>
            <span>{{ t.event.location }}</span>
            <span>{{ page.event_location }}</span>
          </p>
        </div>
        {% if page.sign_up == true %}
          <button class="button"><span>{{ t.event.sign_up }}</span></button>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<div id="pop-up" class="pop-up">
  <div class="content">
    <div class="container">
      <span class="close">{{ t.event.close }}</span>
      <div class="title">
        <h1>{{ t.event.scan_QRCode }}</h1>
      </div>
      <div class="subscribe">
        <img src="{{ site.url }}{{ site.baseurl }}{{ page.qrcode_image }}" alt="qrcode">
      </div>
    </div>
  </div>
</div>